#p_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#tablbackgrounds{
    background-color:lightgrey;
	margin-top:20px;
	width:95%;
	padding-top:25px;
	padding-bottom:25px;
}

#p_description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    margin:10px;
    text-align: left;
    margin-bottom: 20px;
}

#sort_text{
    font-family:Verdana;
    font-size:12pt;
}

.search_class{
    font-family:Verdana;
    font-size:11pt;
    height:40px;
    width:100%;
    margin-bottom:15px;
	border-radius:5px;
	outline:none;
}

#quizcategory, #username_to_search, #td_selectwhere, #td_selectorder, #td_selectdirection, #submitbtn_search{
    width:100%;
}

#submitbtn_search{
    font-size:11pt;
    height:45px;
    font-family:Verdana;
    margin-bottom:15px;
	border-radius:5px;
    outline:none;
    background-color: rgb(11, 194, 11);
}

#current_page_num{
    text-align: center;
    font-size: 13pt;
    font-family: Verdana;
    font-weight: bold;
}

#div_pagination{
    text-align: center;
    font-size: 18pt;
    font-family: Verdana;
    font-weight: bold;
    margin-top: 25pt;
    margin-bottom: 30pt;
}

#title_searchquizresult{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
    margin-top:25pt;
    margin-bottom: 25pt;
}

#backgroundslist_table{
    width:95%;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#table_head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    height: 30px;
}

#notfound_alert{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
    font-size:14pt;
    text-align: center;
    font-style: italic;
}

#delete_bgimg{
    background-color: #b30000;
    border: none;
	border-radius: 15px;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	outline: none;
}

#accept_bgimg{
    background-color: #06a120;
    border: none;
	border-radius: 15px;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	outline: none;
    margin-bottom: 10pt;
}

#watch_in_big{
    background-color: #f1cf09;
    border: none;
	border-radius: 15px;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	outline: none;
    margin-bottom: 10pt;
}

.bgimg_setbtn{
    margin-left:5pt;
    margin-right: 5pt;
}

#active_span{
	font-weight: bold;
	color:rgb(17, 153, 17);
}

#inactive_span{
	font-style: italic;
	color: red;
}

#backgroundslist_table{
    border-spacing:25px 25px;
}

#imgbgdet{
    margin-left:10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: 12pt;
    margin-top:10pt;
    margin-bottom:10pt;
}



