@charset "utf-8";

body{
	background-image: url('../documents/images/inboxbg.jpg');
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

#cimMymessage{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:black;
	text-align:center;
	padding-bottom:15px;
}

#main_div{
	/*background-color: #b3e6ff;*/
	width:98%;
	margin-left:0px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size:24px;
	position:absolute;
}

#senders_div{
	
	width:25%;
	float:left;
	/*background-color: #99c2ff;*/
}

#description_div{
	/*background-color: #f2f2f2;*/
	width:75%;
	margin-left:0px;
	padding-bottom:50px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	font-size:17px;
	float:left;
}

.sendername{
	margin-top:15px;
	margin-left:15px;
	margin-bottom:15px;
	width:90%;
	height:50px;
	background-color: #66ff66;;
	font-size:15px;
	border:none;
}

.p_messagep{
	border-radius: 25px;
	background: #66ff66;
	padding: 20px; 
	width: 90%;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom: 10px;
	display: inline-block;
}

.p_messagep_my{
	border-radius: 25px;
	background: #FFA500;
	padding: 20px;
	width: 90%;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom: 10px;
	display: inline-block;
}

#mybold_div{
	font-weight: bold;
}